.services {
    background-color: #fff;
}

.Serve {
    padding-left: -20px;
    text-align: center;
    text-indent: 30px;
}

.text1 {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.row {
    width: 100%;
    align-content: center;
    padding-top: 0px;
}

.row a {
    color: goldenrod;
}


/* Create four equal columns that floats next to each other */

.column {
    color: white;
    margin-left: 50px;
    height: 450px;
    overflow: hidden;
    width: 20%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: transform .2s;
}

.column:hover {
    -ms-transform: scale(110%);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(110%);
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        margin: auto;
    }
}

.keep {
    font-weight: bold;
    font-size: 20px;
    margin-left: -5%;
    margin-right: -5%;
    text-align: center;
    background-image: linear-gradient(to right, #152238, #292f38, gold);
}

.keep:hover {
    -ms-transform: scale(105%);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(105%);
}