{% extends '../../base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block body %}
{% block about %}
<br><br>
<div class="about">
    <div class="row">
        <div class="column" style="background-color:#aaa;">
          <h2>Column 1</h2>
          <p>Some text..</p>
        </div>
        <div class="column" style="background-color:#bbb;">
          <h2>Column 2</h2>
          <p>Some text..</p>
        </div>
      </div>
      

    <div class="about_poster">

    <div class="vision_container">

        <div class="vision">
            <p class="vision_title">VISION</p>
            To be the leading
           accounting and
            financial services firm
              in Kenya.
        </div>

        <div class="mission">
            <br>
            <p class="mission_title">MISSION</P>
            To provide quality financial
            and accounting services for the
            benefit of our client’s welfare,
            partners, employees and the
            community.
        </div>
        </div>
      <div class="core_values">
          <p class="core_values_title"> CORE VALUES<p/>
            <ul>
                <li>An empowered workforce with passion for excellency and equal opportunities.  </li>
                <li>Recognizing and responding effectively to the needs of our clients.  </li>
                <li> Attention to safety & welfare.  </li>
                <li> Outstanding Integrity. </li>
                <hr></hr>
                </ul>
      </div>  

</div>

{% endblock %}
{% endblock %}


