.about{
    top: 50%;
    background-color: rgb(224, 224, 245);
}
.about_poster{
    height: 400px;
    width: 100%;
}
.vision_container{
    column-count: 2;
    column-width: 100%;
    column-gap: normal;
    background-color: navy;
    height: 50%;
    text-align: center;
    text-overflow: clip;



}
.vision{
    background-color: inherit;
    color: white;
    margin: auto;
    margin-left: 30%;
    margin-right: 30%;
    

}
.vision_title,.core_values
{
    background-color: inherit;
    font-size: medium;
    color: goldenrod;
    
}
.mission{
    background-color: inherit;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    
}
.mission_title{
    background-color: inherit;
    font-size: medium;
    color: goldenrod;
    
}
.core_values{
    color: navy;
    margin-left: 30%;
    margin-right: 30%;
}
