.contact-page {
    height: fit-content;
}

.form-control.mt-2 {
    width: 80%;
}

.container.py-2.mt-3 {
    width: 70%;
    margin-right: 10%;
    margin-left: 25%;
}

.sched {
    margin-left: 25%;
}

.adv {
    font-size: 45px;
    font-weight: bold;
}

.consultancy-location {
    column-count: 2;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 600px;
}

.socials {
    color: black
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    background: #bb0000;
    color: white;
    border-radius: 50%;
}

.fa-instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.fa-whatsapp {
    background: #008000;
    color: white;
}

.fa-skype {
    background: #00aff0;
    color: white;
}