.services{
    background-color: #ccc;
}
.Serve{
    padding-left: -20px;
    text-align: center;
    text-indent: 30px;
}
.text1{
    text-align: center;
}
* {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 20%;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }