* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    color: white;
    float: left;
    padding: 10px;
    background-color: navy;
    border: solid 5px #152238;
    margin-right: 1%;
    border-radius: 70px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 40%;
    margin-left: 14%;
  }
  
  .right {
    width: 30%;
    margin-right: 14%;
  }
  .right:hover {
    color: white;
    background-color: goldenrod;
      -webkit-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;
  }
  .left:hover{
    color: white;
    background-color: goldenrod;
      -webkit-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .tests{
      color: goldenrod;
      font-style: italic;
    text-align: center;
  }
 .testimonials-text{
     font-size: 24px;
    padding-top: 50px;
}