{% extends '../../base.html' %} {% load static %} {% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/advisory.css' %}"> {% endblock %} {% block body %} {% block advisory %}
<div class="home">
    <!-- 
    <style>
        .home{
            background-color: #fff;
        }
        * {
  box-sizing: border-box;
}
 body {
            animation: fadeInAnimation ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0.1;
            }
            100% {
                opacity: 1;
            }
        }
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}
.fin{
  text-align: center;
  font-style: italic;
}
.row{
  margin-left: 5%;
  margin-right: 5%;
}
    </style>
 -->

    <br>
    <h2 class="fin">From Us To You</h2>

    <div class="row">
        <div class="column" style="background-color:#fff;">
            <h2>FINANCIAL ADVISORY</h2>
            <p>This is basically offering our clients a big picture analysis of their finances by breaking down different aspects of a client's financial life, including assets, expenses and income, and help you create a financial plan to reach different
                types of goals. We help you create strategies for eliminating financial risk and building wealth over the long term. We always give you a game plan that puts you on track to achieve your financial goals.
            </p>
        </div>
        <div class="column" style="background-color:#fff;">
            <h2>INTERNAL AUDIT</h2>
            <p>This is basically on matters risk management and evaluates the effectiveness of a company's internal controls, corporate governance, and accounting processes. Internal audits provide management and board of directors with a value-added service
                where flaws in a process may be caught and corrected prior to external audits.
            </p>
        </div>

    </div>
</div>
<div>
    <img src="{% static 'images/trends.jpg' %}" alt="" height="140px" width="100%">
</div>
</div>
{% endblock%} {% endblock %}